.Footer {
    overflow-y: hidden;

    .footer-section {
        padding-top: 4vw;
        padding-bottom: 2vw;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;

        .row {
            display: flex;
            width: 100%;
            max-width: 1260px;
            margin: 0 auto;
            flex-wrap: wrap;
            padding: 0 20px;
            border-bottom: 1px solid #e1e3e8;

            .col-a {
                width: 30%;
                align-self: flex-start;
                display: flex;
                flex-direction: column;
                margin-top: -5%;
                padding: 20px;
                margin-bottom: 2%;

                .logo {
                    margin: 0 auto;
                    height: 65%;
                    width: 65%;
                }

                .col-para {
                    font-weight: 400;
                    font-size: 1.2vw;
                    padding-bottom: 10px;
                    color: #595959;
                    text-align: center;
                    line-height: 1.2em;
                }

                .footer_btns {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-direction: row;
                    width: 100%;

                    & a {
                        width: 35%;

                        & img {
                            width: 100%;
                            height: 70%
                        }
                    }
                }
            }

            .col-b {
                gap: 20px;
                width: 15%;
                padding-right: 10px;
                align-self: flex-start;
                padding: 12px;

                & h2 {
                    font-size: 1.13vw;
                    color: #000;
                    padding-left: 15px;
                    font-weight: 800;
                    padding-bottom: 10px;
                    line-height: 1.2em;
                }

                & ul {
                    padding-left: 15px;

                    & li {
                        font-size: 16px;
                        padding-bottom: 10px;
                        list-style: none;

                        & a {
                            padding: 12px 0;
                            font-weight: 600;
                            text-decoration: none;
                            color: #595959;
                            font-size: 1vw;
                        }
                    }
                }


            }

            .col-b-left {
                margin-left: 25px;
                padding-left: 52px;
            }

            .col-b-left-1 {
                margin-left: 15px;
            }

            .col-b-left-2 {
                margin-left: 1px;
                width: 20%;
            }


        }


    }

    .footer-section-secondary {
        background: #fff;
        border-top: 2px solid #fff;
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;

        .row {
            display: flex;
            width: 96%;
            max-width: 1250px;
            margin: 0 auto;
            flex-wrap: wrap;
            justify-content: space-between;

            .col-a-secondary {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-left: 2.7%;
                margin-right: 2.7%;
                padding: 12px;


                & p {
                    text-align: center;
                    color: #626263;
                    font-weight: 700;
                    font-size: 1.13vw;

                    & a {
                        text-align: center;
                        color: #626263;
                        font-weight: 700;
                        font-size: 1.13vw;
                    }
                }
            }
        }
    }

    .whatsapp-icon {

        & span {
            font-weight: 400;
            line-height: 1.2em;
        }

        .whatsapp-icon-svg {
            right: 10px;
            bottom: 70px;
            display: inline-block;
            background: #1db843;
            border-radius: 100%;
            width: 60px;
            height: 60px;
            position: fixed;
            z-index: 9999;
        }
    }

    .scroll-up {

        & span {
            text-align: center;
            background: #0d6efd;
            text-decoration: none;
            position: fixed;
            bottom: 20px;
            right: 19px;
            cursor: pointer;
            padding: 6px 10px;
            font-weight: 400;
            line-height: 1.2em;
            z-index: 9999;
            border-radius: 5px;
            box-shadow: 0 3px 5px 0 rgb(47 85 212 / 30%);


            & svg {
                color: white;
                width: 18px;
                height: 20px;
            }
        }
    }
}

@media (max-width: 640px) {
    .Footer {
        .footer-section {
            .row {
                .col-a {
                    .logo {
                        padding-left: 18px;
                    }
                }
            }
        }
    }

}



@media (max-width: 768px) {
    .Footer {
        .footer-section {
            padding: 25px 0;

            .row {
                margin-left: 0;
                border-bottom: none;
                margin-top: 0;

                .col-a {
                    margin-left: 0;
                    width: 100%;
                    align-self: flex-start;
                    text-align: center;
                    margin-bottom: -20px;


                    .logo {
                        width: 75%;
                    }

                    .col-para {
                        font-weight: 400;
                        font-size: 15px;
                    }

                    .footer_btns {
                        flex-direction: row;
                        align-items: center;


                        & a {
                            width: 35%;
                        }
                    }
                }

                .col-b {
                    margin-top: 2%;
                    align-self: flex-start;
                    width: 45%;



                    & h2 {
                        padding-left: 0;
                        font-size: 13px;
                    }

                    & ul {
                        padding-left: 0;

                        & li {
                            font-size: 14px;

                            a {
                                font-size: 12px;

                                img {
                                    width: 20px;
                                }
                            }
                        }
                    }
                }

                .col-b-left {
                    margin-left: 35px;
                    padding-left: 0;
                }

                .col-b-left-1 {
                    margin-left: 0px;
                }

                .col-b-left-2 {
                    margin-left: 30px;
                }
            }
        }

        .footer-section-secondary {
            .row {
                .col-a-secondary {
                    .phone-footer-act1 {
                        font-size: 2vw !important;
                    }

                    .phone-footer-act2 {
                        a {
                            font-size: 2vw !important;
                        }
                    }
                }
            }
        }
    }
}